#! /usr/bin/env python
# -*- coding: utf-8 -*-
# vim:fenc=utf-8
#
# Copyright © 2019 jack <jack@bogon>
#
# Distributed under terms of the MIT license.

"""
config
"""

DEBUG = False

config = {
    'host': 'http://my.host:myport',
    'path': '/my/path',
    'wait': 3000 if DEBUG else 100,
}
